name: adguardhome

services:

  adguardhome:
    container_name: adguardhome
    restart: unless-stopped
    image: adguard/adguardhome:latest
    ports:
      - 53:53/tcp
      - 53:53/udp
      - 3000:3000/tcp
    volumes:
      - adguardhome_work:/opt/adguardhome/work
      - adguardhome_conf:/opt/adguardhome/conf
    labels:
      - traefik.enable=true
    # ROUTERS
      - traefik.http.routers.adguardhome.service=adguardhome
      - traefik.http.routers.adguardhome.rule=Host(`adguardhome.${lab_domain}`)
      - traefik.http.routers.adguardhome.entrypoints=websecure
    # SERVICES
      - traefik.http.services.adguardhome.loadbalancer.server.scheme=http
      - traefik.http.services.adguardhome.loadbalancer.server.port=3000

volumes:

  adguardhome_work:
    driver: local
%{ if !docker_managed_volumes ~}
    driver_opts:
      type: none
      device: '${adguardhome_work_dir}'
      o: bind
%{ endif ~}

  adguardhome_conf:
    driver: local
%{ if !docker_managed_volumes ~}
    driver_opts:
      type: none
      device: '${adguardhome_conf_dir}'
      o: bind
%{ endif ~}
